/* Write your CSS code here */
.currencyLogo {
    width: 20px;
    height: 20px;
  }
  
  .currencyLogoDiv {
    display: flex;
  }
  
  .moneyValue {
    display: flex;
  }
  
  .mainMoneyDivItem {
    display: flex;
    justify-content: space-between;
    color: white;
    /* border: 1px solid white; */
  }
  
  .licl {
    list-style: none;
    padding: 0px 20px;
    margin-bottom: 10px;
  }
  
  .logo {
    width: 30px;
    height: 30px;
    margin-right: 20px;
  }
  
  .usdPara {
    margin-right: 10px;
  }
  